<div class="link-form">
  <%= form_for(@link) do |f| %>
      <%= f.hidden_field(:user_id, :value => current_user.id) if current_user %>
    <%= f.label :link_url %>
    <%= f.text_field :link_url %>
    <%= f.label :title %>
    <%= f.text_area :title %>
      <%= f.submit "Submit", class:"btn blue" %>
  <% end %>
</div>
