<h3>Links Index for <%= current_user.email %></h3>
<br>
<br>

<p>Note: Be sure to include 'http://' when submitting links!</p>
<div class="link-form">
  <%= form_for(Link.new) do |f| %>
      <%= f.hidden_field(:user_id, :value => current_user.id) if current_user %>
    <%= f.label :link_url %>
    <%= f.text_field :link_url %>
    <%= f.label :title %>
    <%= f.text_area :title %>
      <%= f.submit "Submit", class:"btn blue" %>
  <% end %>
</div>
<br>

<button class="btn read grey center" id="readToggle">Show Unread</button>
<button class="btn read teal" id="unreadToggle">Show Read</button>
<button class="btn read green" id="showAllToggle">Show All</button>

<div class="row">
  <div class="form-group search container col-md-6 col-md-offset-3">
    <br>
    <%= form_tag( id: "seach-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search for a Link", class: "form-control col-md-3" %>
    <% end %>
  </div>
</div>

<table class="centered link-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link URL</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="links" ng-repeat="link in links track by $index">
      <td>{{ link.title }}</td>
      <td>{{ link.link_url }}</td>
      <td ng-if="!link.read">
        <button class="btn read green" ng-click="markRead(link)">Mark as Read</button>

      </td>
      <td ng-if="link.read">
        <button class="btn read red" ng-click="markUnread(link)">Mark as Unread</button>
      </td>
      <td>
        <a class="btn orange" ng-href="/links/{{link.id}}/edit">Edit</a>
      </td>
    </div>
  </tbody>
</table>
