<h3>Links Index for <%= current_user.email %></h3>
<br>
<br>

<p>Note: Be sure to include 'http://' when submitting links!</p>
<div class="link-form">
  <%= form_for(Link.new) do |f| %>
      <%= f.hidden_field(:user_id, :value => current_user.id) if current_user %>
    <%= f.label :link_url %>
    <%= f.text_field :link_url %>
    <%= f.label :title %>
    <%= f.text_area :title %>
      <%= f.submit "Submit", class:"btn blue" %>
  <% end %>
</div>
<br>

<table class="centered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link URL</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
    <tr>
      <td><%= link.title %></td>
      <td><%= link.link_url %></td>
      <% if !link.read %>
        <td class="unread"><%= link_to "Mark as Read", link_path(link, {:link => {:read => true }}), method: :patch %></td>
      <% else %>
        <td class="read"><%= link_to "Mark as Unread", link_path(link, {:link => {:read => false }}), method: :patch %></td>
      <% end %>
      <td><%= link_to "Edit", edit_link_path(link) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- API CALL BELOW -->
<br>
APIIII BEELOWWW
<br>



<table class="centered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link URL</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="links" ng-repeat="link in links track by $index">
      <td>{{ link.title }}</td>
      <td>{{ link.link_url }}</td>
      <td ng-if="!link.read">
        <button class="btn read green" ng-click="markRead(link)">Mark as Read</button>

      </td>
      <td ng-if="link.read">
        <button class="btn read red" ng-click="markUnread(link)">Mark as Unread</button>
      </td>
      <td>Edit</td>
    </div>
  </tbody>
</table>
