<!DOCTYPE html>
<html>
<head>
  <title>ThoughtBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <%= link_to "Home", '/' %>
  <% if current_user %>
  <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
  <%= link_to "Sign up", new_user_path %>
  <% end %>
</div>

  <% flash.each do |type, msg| %>
          <div class="alert-<%= type %>"><%= msg %></div>
  <% end %>

<%= yield %>

</body>
</html>
