<!DOCTYPE html>
<html>
<head>
  <title>ThoughtBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/nav' %>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, sanitize(msg), class: "flash_#{type} hidden" %>
      <body onload="Materialize.toast('<%=msg%>', 2000)">
  <% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
